{% extends 'crypto/base.html.twig' %}

{% block body %}
    <h2>Mot de passe oublié ?</h2>
    <div class="form">
        {{ form_start(form) }}
            {{ form_row(form.email,  {'attr' : {'placeholder' : "Entrez votre Email"}}) }}
        <button class="btn btn-success" type="submit" style="width: 300px;">RECEVOIR MON MOT DE PASSE</button>
        {{form_end(form) }}
    </div>
{% endblock %}