{% extends 'crypto/base.html.twig' %}

{% block body %}
    <h1>Renouvellement du mot de passe</h1>
    {{form_start(form)}}
        {{form_row(form)}}
        {{form_row(form)}}
        <button class="btn btn-primary" type="submit">Envoyer</button>
    {{form_end(form)}}
{% end block %}